<div class="form-group" ng-repeat="control in vm.controls">
    <div ng-if="! control.isDivider">
        <div ng-if="control.switch">
            <div class="row">
                <div class="col-sm-4">
                    <label ng-attr-for="{{ control.id }}-switch">
                        {{ control.name }}
                    </label>
                </div>
                <div class="col-sm-8 text-right">
                    <toggle-switch class="switch-success"
                                   ng-attr-id="{{ control.id }}-switch"
                                   ng-if="control.switch"
                                   value="{{ vm.canvasImageOverlay[control.id] }}"
                                   ng-model="vm.canvasImageOverlay[control.id]"
                                   ng-change="vm.render()">
                    </toggle-switch>
                </div>
            </div>
        </div>

        <div ng-if="! control.switch">
            <button type="button"
                    class="btn btn-default btn-xs pull-right"
                    ng-click="vm.reset(control.id, control.default)">
                Reset
            </button>

            <label ng-attr-for="{{ control.id }}-control">
                {{ control.name }}
            </label>

            <input ng-attr-id="{{ control.id }}-control"
                   type="range"
                   min="{{ control.min }}"
                   max="{{ control.max }}"
                   value="{{ vm.canvasImageOverlay[control.id] }}"
                   step="{{ control.step }}"
                   ng-model="vm.canvasImageOverlay[control.id]"
                   data-title="{{ vm.canvasImageOverlay[control.id] }}{{ control.units }}"
                   data-placement="bottom"
                   bs-tooltip
                   ng-change="vm.render()">
        </div>
    </div>

    <hr ng-if="control.isDivider">
</div>
