<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<form name="temporalFilterForm">
<div ng-if="vm.deltaConfig.components.temporalFilter">
    <md-toolbar class="md-hue-2" ng-click="vm.toggleExpanded()">
        <div class="md-toolbar-tools">
            <h4>
                <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span> Date/Time
            </h4>
            <span flex></span>
        </div>
    </md-toolbar>
    <div class="temporal-filter" ng-show="vm.expanded">
        <div class="range-filter">
            <h5 ng-class="{error: vm.invalid}">Start Date</h5>
            <div layout="row" layout-xs="column">
                <div flex>
                    <mdp-date-picker mdp-use-utc="true" mdp-placeholder="Date" ng-model="vm.start" ng-model-options="{ debounce: { default: 500, blur: 0 } }"></mdp-date-picker>
                </div>
                <div flex>
                    <mdp-time-picker mdp-use-utc="true" mdp-placeholder="Time" ng-model="vm.start" ng-model-options="{ debounce: { default: 500, blur: 0 } }"></mdp-time-picker>
                </div>
            </div>
            <h5 ng-class="{error: vm.invalid}">End Date</h5>
            <div layout="row" layout-xs="column">
                <div flex>
                    <mdp-date-picker name="endDate" mdp-use-utc="true" mdp-placeholder="Date" ng-model="vm.stop" ng-model-options="{ debounce: { default: 500, blur: 0 } }"></mdp-date-picker>
                </div>
                <div flex>
                    <mdp-time-picker name="endTime" mdp-use-utc="true" mdp-placeholder="Time" ng-model="vm.stop" ng-model-options="{ debounce: { default: 500, blur: 0 } }"></mdp-time-picker>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center">
               <md-button ng-repeat="range in vm.ranges" ng-click="vm.setRange(range.units, range.unitOfTime)">Last <br /> {{ range.label }}</md-button>
           </div>
        </div>
    </div>
</div>
</form>
