<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div ng-if="vm.deltaConfig.components.goto">
    <md-toolbar class="md-hue-2" ng-click="vm.toggleExpanded()">
        <div class="md-toolbar-tools">
            <h4>
                <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span>
                GoTo
            </h4>
        </div>
    </md-toolbar>
    <div class="goto" ng-show="vm.expanded">
        <div layout="row" layout-xs="column" layout-align="center start" ng-if="vm.locationFormat !== 'mgrs'">
            <div flex>
                <md-input-container>
                    <label>Latitude</label>
                    <input type="text" name="latitude" ng-model="vm.lat" />
                </md-input-container>
            </div>
            <div flex>
                <md-input-container>
                    <label>Longitude</label>
                    <input type="text" name="longitude" ng-model="vm.lng" />
                </md-input-container>
            </div>
            <div flex>
                <md-button class="md-raised" ng-click="vm.goto()" ng-disabled="!vm.lat || !vm.lng">Go</md-button>
            </div>
        </div>
        <div layout="row" layout-xs="column" ng-if="vm.locationFormat === 'mgrs'">
            <div flex>
                <md-input-container>
                    <label>Lat/Lng</label>
                    <input type="text" name="mgrs" ng-model="vm.mgrs" />
                </md-input-container>
            </div>
            <div flex>
                <md-button class="md-raised" ng-click="vm.goto()" ng-disabled="!vm.mgrs">Go</md-button>
            </div>
        </div>
        <div class="margin-bottom-lg">
            <delta-location-format></delta-location-format>
        </div>
    </div>
</div>
