<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div ng-if="vm.deltaConfig.components.typeFilter">
    <md-toolbar class="md-hue-2" ng-click="vm.toggleExpanded()">
        <div class="md-toolbar-tools">
            <h4>
                <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span>
                Types
            </h4>
        </div>
    </md-toolbar>
    <md-list ng-show="vm.expanded">
        <md-list-item ng-repeat="type in vm.types" ng-click="vm.toggleType(type)" ng-if="vm.activeSources.length > 0" md-colors="{ background: type.active ? 'blue-800' : 'grey-900' }">
            <div class="md-list-item-text">
                <span class="fa {{ type.icon }}"></span> {{ type.title }}
            </div>
        </md-list-item>
    </md-list>
</div>
