@import "color-palette.css";

html {
    font-size: 16px;
    font-size: calc(14px + 0.3vw);
}

/* Body Copy - Proxima Nova Regular */
body, p {
    font-family: proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
    
/* H3 - Proxima Nova Bold */
h3 {
    font-family: proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
    
/* H2 - Proxima Nova Medium */
h2 {
    font-family: proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.43rem;
}
    
/* H1 - Default Proxima Nova Condensed */
h1 {
    font-family: proxima-nova-condensed, proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.86rem;
}
    
/* H1 - Alternate Proxima Nova Extra Condensed Bold */
.h1-bold {
    font-family: proxima-nova-extra-condensed, proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.86rem;
}

body {
    font-size: 1.2rem;
    background: var(--app-background-color);
}

/* Header */
.mdl-layout__header {
    background-color: var(--header-color);
    color: var(--on-header-color);
}
/* Header Title */
.mdl-layout__header-row > .mdl-layout-title {
    color: var(--on-header-color);
}
/* AIS Logo */
.mdl-layout__header-row > img {
    max-width: 70%;
    max-height: 70%;
    padding-right: 1rem;
}
/* Dark Mode Switch */
.mdl-switch__track,
.mdl-switch.is-checked .mdl-switch__track  {
    background-color: var(--app-background-color);
}
.mdl-switch__thumb,
.mdl-switch.is-checked .mdl-switch__thumb {
    background-color: var(--accent-color-4);
}
#theme-icon {
    padding-left: 20px;
}

/* Layout */
.mdl-layout__content {
    display: flex;
}

/* Grid */
.mdl-grid {
    flex-grow: 1;
    flex-shrink: 1;
    /*max-height: 75vh;*/
    padding-bottom: 28px;
}
/* Cells */
.mdl-cell {
    min-height: 210px;
    height: 100%;
}

/* Demo Cards */
.demo-card-wide.mdl-card {
    background: var(--surface-color-1);
    width: 100%;
    height: 100%;
}
/* Demo Title */
.demo-card-wide.mdl-card > .mdl-layout__header-row {
    background-color: var(--accent-color-4);
    color: var(--on-surface-color-4);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
}
/* Demo Picture */
.demo-card-wide.mdl-card > .mdl-card__title {
    flex-basis: 35%;
} 
@media only screen and (max-height: 450px) { 
    .demo-card-wide.mdl-card > .mdl-card__title { 
      display: none; 
    } 
}
/* Demo Description */
.demo-card-wide.mdl-card > .mdl-card__supporting-text {
    overflow: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    color: var(--on-surface-color-1);
}
/* Demo Button */
.demo-card-wide.mdl-card > .mdl-card__actions {
    background-color: var(--surface-color-1);
    text-align: center;
    bottom: 0;
}
.mdl-card__actions > .mdl-button {
    color: var(--link-color);
    font-family: proxima-nova, Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.43rem;
}