<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div class="events-container" ng-controller="eventsController as vm">
    <md-content>
        <div style="height: {{ vm.eventsHeight }}px" ng-show="vm.mapEvents.length === 0">
            <div class="absolute-center">
                <h2 md-colors="{ color: 'grey-800' }">No events found. Try changing your search parameters.</h2>
            </div>
        </div>
        <md-virtual-repeat-container class="table-responsive-vertical" md-top-index="vm.topIndex" ng-style="{ height: vm.eventsHeight }" ng-show="vm.mapEvents.length > 0">
            <table id="table" class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Source</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr class="map-event" md-virtual-repeat="mapEvent in vm.mapEvents" ng-click="vm.showEvent($event, mapEvent)" md-colors="{ background: mapEvent.active ? 'blue-800' : 'grey-900' }" ng-mouseover="vm.showPopup($event, mapEvent)" ng-mouseleave="vm.hidePopup()">
                    <td data-title="Source"><i class="fa fa-circle" style="color: {{ mapEvent.eventSource.color }}"></i> {{ mapEvent.eventSource.title }}</td>
                    <td data-title="Type"><i class="fa" ng-class="mapEvent.eventType.icon"></i></td>
                    <td data-title="Date">{{ mapEvent.properties.event_time }}</td>
                    <td data-title="Latitude">{{ mapEvent.properties.event_lat }}</td>
                    <td data-title="Longitude">{{ mapEvent.properties.event_lon }}</td>
                </tr>
                </tbody>
            </table>
        </md-virtual-repeat-container>
    </md-content>
</div>
