<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div class="location-format" layout="row" layout-xs="column" layout-align="center center">
    <md-button ng-click="vm.setFormat('dd')" md-colors="{ background: vm.location.format === 'dd' ? 'blue-800' : 'grey-900' }">DD</md-button>
    <md-button ng-click="vm.setFormat('dms')" md-colors="{ background: vm.location.format === 'dms' ? 'blue-800' : 'grey-900' }">DMS</md-button>
    <md-button ng-click="vm.setFormat('mgrs')" md-colors="{ background: vm.location.format === 'mgrs' ? 'blue-800' : 'grey-900' }">MGRS</md-button>
</div>
