<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div class="source-filter-container" ng-if="vm.deltaConfig.components.sourceFilter">
    <md-toolbar class="md-hue-2" ng-click="vm.toggleExpanded()">
        <div class="md-toolbar-tools">
            <h4>
                <span class="fa" ng-class="vm.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></span>
                Sources
            </h4>
        </div>
    </md-toolbar>
    <md-list class="source-filter" ng-show="vm.expanded">
        <md-list-item ng-repeat="source in vm.sources" ng-click="vm.toggleSource(source)" md-colors="{ background: source.active ? 'blue-800' : 'grey-900' }">
            <div class="md-list-item-text">
                <span class="fa fa-circle" style="color: {{ source.color }}"></span> {{ source.title }}
                <span class="fa margin-top-sm" ng-class="vm.sourceType.icon"></span>
            </div>
        </md-list-item>
    </md-list>
    <h5>Source Type</h5>
    <md-select ng-model="vm.sourceType" ng-change="vm.setSourceType()" md-model-options="{ trackBy: '$value.name' }" placeholder="Source Type">
        <md-option ng-repeat="type in vm.sourceTypes" ng-value="type">{{ type.name }} <i class="fa" ng-class="type.icon"></i></md-option>
    </md-select>
</div>
