<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div ng-controller="eventViewerController as vm">
    <md-content class="event-viewer-container" ng-style="{ height: vm.eventViewerHeight }">
        <div class="absolute-center" ng-if="!vm.eventData">
            <h2 md-colors="{ color: 'grey-800' }">Select an event to view details</h2>
        </div>
        <div class="absolute-center" ng-if="vm.eventData && vm.eventError !== null">
            <h2 md-colors="{ color: 'orange-800' }">Error retrieving event data</h2>
            {{ vm.eventError }}
        </div>
        <div ng-if="vm.eventData && vm.eventError === null">
            <md-button class="event-close-btn md-raised md-icon-button" ng-click="vm.close()">
                <i class="fa fa-close"></i>
                <md-tooltip md-direction="left">Close Event</md-tooltip>
            </md-button>
            <div layout="column">
                <div class="event-chart" flex="40" ng-style="{ 'min-height': vm.eventViewerHeight/2 }" class="margin-bottom-lg">
                    <div class="loading" ng-if="vm.loading" ng-style="{ height: vm.eventViewerHeight }">
                        <div class="progress">
                            <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
                            <h3>{{ vm.loadingStatus }}</h3>
                        </div>
                    </div>
                    <div class="chart-loading text-center" ng-if="vm.chartLoading">
                        <h2 md-colors="{ color: 'grey-800' }">Loading Chart...</h2>
                    </div>
                    <div id="chart"></div>
                </div>
                <div class="event-controls" flex="10" ng-show="!vm.loading">
                    <div layout="row" layout-align="center center">
                        <div class="playback-controls">
                            <md-button class="md-raised md-icon-button" ng-click="vm.setPlaybackDirection('backward')" md-colors="{ background: vm.playbackDirection === 'backward' ? vm.erisConfig.activeColor : 'blue-grey-50' }" aria-label="Rewind">
                                <i class="fa fa-step-backward"></i>
                                <md-tooltip>Reverse / Step Back</md-tooltip>
                            </md-button>
                            <md-button class="md-raised md-icon-button" ng-click="vm.setPlaybackState(!vm.playbackState)" aria-label="Play/Pause">
                                <i class="fa" ng-class="{ 'fa-pause': vm.playbackState === true, 'fa-play': vm.playbackState === false }"></i>
                                <md-tooltip><span ng-if="vm.playbackState === true">Pause</span><span ng-if="vm.playbackState === false">Play</span></md-tooltip>
                            </md-button>
                            <md-button class="md-raised md-icon-button" ng-click="vm.setPlaybackDirection('forward')" md-colors="{ background: vm.playbackDirection === 'forward' ? vm.erisConfig.activeColor : 'blue-grey-50' }" aria-label="Forward">
                                <i class="fa fa-step-forward"></i>
                                <md-tooltip>Forward / Step</md-tooltip>
                            </md-button>
                        </div>
                        <div class="voting-controls" ng-if="vm.voter">
                            <md-menu>
                                <md-button md-colors="{ background: vm.voteUpBtnColor() }" class="md-raised md-icon-button" ng-click="vm.onUpVoteClick($mdMenu, $event)">
                                    <i class="fa fa-thumbs-up"></i>
                                    <md-tooltip>Upvote</md-tooltip>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="type in vm.eventTypes">
                                        <md-button ng-click="vm.voteUp(type.value)">{{ type.title }}</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-menu>
                                <md-button md-colors="{ background: vm.voteDownBtnColor() }" class="md-raised md-icon-button downvote-btn" ng-click="vm.onDownVoteClick($mdMenu, $event)">
                                    <i class="fa fa-thumbs-down"></i>
                                    <md-tooltip>Downvote</md-tooltip>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="reason in vm.voteReasons">
                                        <md-button ng-click="vm.voteDown(reason.reason)">{{ reason.reason }}</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <div class="support-controls" ng-if="vm.erisConfig.supportPOC && vm.erisConfig.supportPOC.length > 0">
                            <md-button class="md-raised md-icon-button" ng-click="vm.support()" md-colors="{ background: 'blue-grey-50' }" aria-label="Event Question">
                                <i class="fa fa-question"></i>
                                <md-tooltip>I have a question about this event</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="event-card-select" flex="5" ng-show="!vm.loading">
                    <div layout="row">
                        <div flex>
                            <div layout="row" layout-align="start center">
                                <md-select ng-model="vm.activeChipCard" ng-change="vm.setActiveChipCard()" ng-model-options="{ trackBy: '$value.sensor' }" class="md-no-underline" aria-label="Event Image">
                                    <md-option ng-repeat="card in vm.availableChipCards" ng-value="card">{{ card.sensor }}</md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-animations" flex="45" ng-show="!vm.loading">
                    <div class="card" ng-repeat="card in vm.chipCards" ng-show="card.active">
                        <h4>
                            <span ng-if="vm.selectedFeature.properties[vm.erisConfig.server.identityField]" ng-style="{ color: card.color ? card.color : vm.internalSource.color }">{{vm.internalSource.title}}</span>
                            <span ng-if="!vm.selectedFeature.properties[vm.erisConfig.server.identityField]" ng-style="{ color: card.color ? card.color : vm.externalSource.color }">{{vm.externalSource.title}}</span>
                        </h4>
                        <div class="text-center">
                            <div class="md-button" aria-label="Download Event EXT">
                                <a class="link-button" ng-show="vm.h5Url" href="{{ vm.h5Url }}"><i class="fa fa-file"></i></a>
                                <md-tooltip md-direction="top">Download EXT</md-tooltip>
                            </div>
                            <md-button aria-label="View Event Metadata" ng-show="vm.eventProps" ng-click="vm.showMetadata($event, vm.eventProps)">
                                <i class="fa fa-info"></i>
                                <md-tooltip md-direction="top">View Metadata</md-tooltip>
                            </md-button>
                            <md-button aria-label="Loading Scale Data" ng-if="vm.selectedFeature.properties[vm.erisConfig.server.identityField] && vm.loadingScaleData"><md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular></md-button>
                            <div class="md-button" aria-label="View Scale Job" ng-if="vm.selectedFeature.properties[vm.erisConfig.server.identityField] && !vm.loadingScaleData && vm.scaleJobUrl">
                                <a class="link-button" href="{{ vm.scaleJobUrl }}/" target="_blank"><img ng-src="{{ vm.erisConfig.baseUrl }}/stylesheets/images/scale.png" alt="Scale" width="16" height="16"/></a>
                                <md-tooltip md-direction="top">View Scale Job</md-tooltip>
                            </div>
                            <md-button aria-label="Reload Scale Data" ng-click="vm.getScaleData()" ng-if="vm.selectedFeature.properties[vm.erisConfig.server.identityField] && !vm.loadingScaleData && !vm.scaleJobUrl">
                                <i class="fa fa-refresh"></i>
                                <md-tooltip md-direction="top">Reload Scale Data</md-tooltip>
                            </md-button>
                            <md-button aria-label="Downloading GIF" ng-if="vm.loadingGif"><md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular></md-button>
                            <md-button aria-label="Download GIF" ng-if="!vm.loadingGif" ng-click="vm.downloadGif($event, false)">
                                <i class="fa fa-download"></i>
                                <md-tooltip md-direction="top">Download GIF</md-tooltip>
                            </md-button>
                            <!--<md-button aria-label="Searching for Event Video" ng-if="vm.loadingFMV"><md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular></md-button>
                            <md-menu ng-if="!vm.loadingFMV && vm.fmvResults.length > 0">
                                <md-button aria-label="View Event Video" ng-click="vm.openMenu($mdMenu, $event)">
                                    <i class="fa fa-film"></i>
                                    <md-tooltip md-direction="top">View Event Video</md-tooltip>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="result in vm.fmvResults">
                                        <md-button ng-click="vm.gotoVideo(result)">
                                            {{ result.feedname }}: {{ result.lookups.platform[0] }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>-->
                            <!--<md-button aria-label="Match Signature" ng-click="vm.matchSignature(card.sensor)">-->
                                <!--<i class="fa fa-line-chart"></i>-->
                                <!--<md-tooltip md-direction="top">Match Signature</md-tooltip>-->
                            <!--</md-button>-->
                        </div>
                        <md-card>
                            <md-card-content>
                                <canvas ng-class="card.class"></canvas>
                                <p>{{ card.chartId }}</p>
                                <ul class="event-info">
                                    <li><span class="field">Confidence:</span> <span class="data">{{ vm.eventProps[0][vm.erisConfig.server.confidenceField] }}</span></li>
                                    <li><span class="field">File:</span> <span class="data filename">{{ vm._.last(vm.eventProps[0].file_path.split('/')) }}</span></li>
                                    <li><span class="field">Type:</span> <span class="data">{{ vm.eventProps[0][vm.erisConfig.server.typeField] }}</span></li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="correlating-card" ng-repeat="card in vm.correlatingChipCards" ng-show="card.active">
                        <h4>
                            <span ng-if="vm.selectedFeature.properties[vm.erisConfig.server.identityField]" ng-style="{ color: card.color ? card.color : vm.externalSource.color }">{{vm.externalSource.title}}</span>
                            <span ng-if="!vm.selectedFeature.properties[vm.erisConfig.server.identityField]" ng-style="{ color: card.color ? card.color : vm.internalSource.color }">{{vm.internalSource.title}}</span>
                        </h4>
                        <div class="text-center">
                            <div class="md-button" aria-label="Download Correlated EXT">
                                <a class="link-button" ng-show="vm.correlatedH5Url" href="{{ vm.correlatedH5Url }}"><i class="fa fa-file"></i></a>
                                <md-tooltip md-direction="top">Download EXT</md-tooltip>
                            </div>
                            <md-button aria-label="View Event Metadata" ng-show="vm.correlatedEventProps" ng-click="vm.showMetadata($event, vm.correlatedEventProps)">
                                <i class="fa fa-info"></i>
                                <md-tooltip md-direction="top">View Metadata</md-tooltip>
                            </md-button>
                            <md-button aria-label="Loading Scale Data" ng-if="!vm.selectedFeature.properties[vm.erisConfig.server.identityField] && vm.loadingScaleData"><md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular></md-button>
                            <div class="md-button" aria-label="View Scale Job" ng-if="!vm.selectedFeature.properties[vm.erisConfig.server.identityField] && !vm.loadingScaleData && vm.scaleJobUrl">
                                <a class="link-button" href="{{ vm.scaleJobUrl }}/" target="_blank"><img ng-src="{{ vm.erisConfig.baseUrl }}/stylesheets/images/scale.png" alt="Scale" width="16" height="16"/></a>
                                <md-tooltip md-direction="top">View Scale Job</md-tooltip>
                            </div>
                            <md-button aria-label="Reload Scale Data" ng-click="vm.getScaleData()" ng-if="!vm.selectedFeature.properties[vm.erisConfig.server.identityField] && !vm.loadingScaleData && !vm.scaleJobUrl">
                                <i class="fa fa-refresh"></i>
                                <md-tooltip md-direction="top">Reload Scale Data</md-tooltip>
                            </md-button>
                            <md-button aria-label="Downloading GIF" ng-if="vm.loadingCorrelatedGif"><md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular></md-button>
                            <md-button aria-label="Download GIF" ng-if="!vm.loadingCorrelatedGif" ng-click="vm.downloadGif($event, true)">
                                <i class="fa fa-download"></i>
                                <md-tooltip md-direction="top">Download GIF</md-tooltip>
                            </md-button>
                            <!--<md-button aria-label="Match Signature" ng-click="vm.matchSignature(card.sensor)">-->
                                <!--<i class="fa fa-line-chart"></i>-->
                                <!--<md-tooltip md-direction="top">Match Signature</md-tooltip>-->
                            <!--</md-button>-->
                        </div>
                        <md-card>
                            <md-card-content>
                                <canvas ng-class="card.class"></canvas>
                                <p>{{ card.chartId }}</p>
                                <ul class="event-info">
                                    <li><span class="field">Confidence:</span> <span class="data">{{ vm.correlatedEventProps[0][vm.erisConfig.server.confidenceField] }}</span></li>
                                    <li><span class="field">File:</span> <span class="data filename">{{ vm._.last(vm.correlatedEventProps[0].file_path.split('/')) }}</span></li>
                                    <li><span class="field">Type:</span> <span class="data">{{ vm.correlatedEventProps[0][vm.erisConfig.server.typeField] }}</span></li>
                                </ul>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
