<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<md-dialog aria-label="Event Metadata">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Event Metadata</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-list flex>
				<md-list-item ng-repeat="props in eventMetadatas">
					<div class="md-list-item-text">
						<h4>Feature Properties</h4>
						<table id="table" class="table table-striped table-condensed table-hover">
							<tbody>
							<tr class="map-event" ng-repeat="(key, value) in props">
								<td data-title="Key">{{ key }}</td>
								<td data-title="Value">{{ value }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="hide()">Hide</md-button>
	</md-dialog-actions>
</md-dialog>
