<!--******************************************************************************
 UNCLASSIFIED
 © 2016 Applied Information Sciences
 See COPYRIGHT.txt for licensing information
 ******************************************************************************-->

<div ng-controller="sidebarController as vm">
    <md-content>
        <div class="sidebar" md-colors="{ background: 'grey-900' }">
            <h2 class="logo" md-colors="{ color: 'amber-600' }">{{ vm.logo }}</h2>
            <delta-source-filter expanded="true"></delta-source-filter>
            <delta-type-filter expanded="false"></delta-type-filter>
            <delta-confidence-filter expanded="true"></delta-confidence-filter>
            <delta-country-filter expanded="false"></delta-country-filter>
            <delta-temporal-filter expanded="true"></delta-temporal-filter>
            <delta-goto expanded="false"></delta-goto>
        </div>
    </md-content>
</div>
